.card {
	margin-bottom: 20px;
	 background-color: rgba(255, 255, 255, 0.6);
}

.card-block {
/* 	outline-style: dashed;
	outline-width: thin; */
	margin-bottom: 10px;
}

.card-title {

}

.jumbotron {
  background: url(img/photo0000-1924.jpg) repeat-y center center fixed; 

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

h1, h2 {
	text-shadow: white 0.1em 0.1em 0.3em;
}